*{
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}


body{

    margin:0;
    min-height:100vh;

    background:#ffffff;

    color:#071d49;

}


/* HEADER */

header{

    text-align:center;
    padding:40px 20px 20px;

}


.logo{

    font-size:60px;
    margin-bottom:10px;

}


h1{

    margin:0;
    font-size:34px;
    font-weight:800;
    color:#c8102e;

}


h2{

    margin:8px 0;
    font-size:22px;
    color:#071d49;

}


header p{

    color:#666;
    font-size:16px;

}



/* INFO KARTICE */

.info{

    width:90%;
    max-width:1200px;

    margin:30px auto;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:20px;

}



.info-box{

    background:#c8102e;

    color:white;

    padding:25px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 10px 25px rgba(0,0,0,0.15);

}



.info-box span{

    display:block;

    font-size:35px;

    font-weight:bold;

    margin-top:10px;

}



/* GLAVNE PREČICE */


.dashboard{

    width:90%;

    max-width:1200px;

    margin:40px auto;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}




.card{

    background:#c8102e;

    color:white;

    border-radius:25px;

    padding:45px 25px;

    text-align:center;

    text-decoration:none;

    box-shadow:0 15px 30px rgba(0,0,0,0.2);

    transition:0.3s;

    position:relative;

    overflow:hidden;

}



.card:before{

    content:"";

    position:absolute;

    width:150px;
    height:150px;

    background:white;

    opacity:0.08;

    border-radius:50%;

    top:-70px;

    right:-70px;

}



.card:hover{

    transform:translateY(-8px);

    background:#a80024;

}



.icon{

    font-size:55px;

    margin-bottom:15px;

}



.card h3{

    color:white;

    font-size:25px;

    margin:10px 0;

}



.card p{

    color:white;

    opacity:0.9;

}



/* FOOTER */


footer{

    text-align:center;

    padding:30px;

    color:#777;

}



/* MOBILNI */

@media(max-width:800px){


.dashboard{

    grid-template-columns:1fr;

}


.info{

    grid-template-columns:1fr;

}


h1{

    font-size:27px;

}

}

html{

    background:#ffffff !important;

}