.kartice{

display:flex;

justify-content:center;

align-items:center;

gap:30px;

flex-wrap:wrap;

margin-top:40px;

}


.kartica{

background:white;

width:300px;

min-height:220px;

padding:25px;

border-radius:20px;

box-shadow:0 5px 15px rgba(0,0,0,0.15);

text-align:center;

}


.kartica h2{

color:#c8102e;

margin-bottom:20px;

}


.dugme{

background:#c8102e;

color:white;

padding:12px 30px;

border-radius:30px;

text-decoration:none;

font-weight:bold;

display:inline-block;

margin-top:20px;

}


.dugme:hover{

background:#8b001f;

}