/* ===========================
   GALERIJA
=========================== */

.galerija-sekcija{

    width:90%;
    max-width:1400px;
    margin:auto;
    padding:80px 0;

}


.galerija-sekcija h2{

    text-align:center;
    font-size:48px;
    color:#c8102e;
    margin-bottom:50px;

}


/* GRID */

.gallery{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:30px;

}


/* KARTICE */

.photo{

    height:320px;

    overflow:hidden;

    border-radius:25px;

    box-shadow:
    0 15px 35px rgba(0,0,0,.25);

    position:relative;

    cursor:pointer;

}



/* SLIKE */

.photo img{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:.5s;

}


/* EFEKAT */

.photo:hover img{

    transform:scale(1.08);

}


.photo::after{

    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(
        rgba(0,0,0,0),
        rgba(0,0,0,.4)
    );

}


/* TELEFON */

@media(max-width:768px){

.galerija-sekcija{

    width:92%;
    padding:50px 0;

}


.galerija-sekcija h2{

    font-size:34px;

}


.gallery{

    grid-template-columns:1fr;

    gap:20px;

}


.photo{

    height:260px;

}

}