/* ===========================
   GALERIJA - ISTO KAO POCETNA
=========================== */


.galerija-sekcija{

    width:90%;
    max-width:1400px;
    margin:auto;
    padding:80px 0;

}



.galerija-sekcija h2{

    text-align:center;
    font-size:48px;
    margin-bottom:50px;
    color:#c8102e;
    letter-spacing:2px;

}



/* GRID */

.gallery{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(350px,1fr));

    gap:40px;

}



/* KARTICE */

.photo{

    position:relative;

    overflow:hidden;

    border-radius:25px;

    height:500px;

    box-shadow:
    0 15px 35px rgba(0,0,0,.35);

}



/* SLIKA */

.photo img{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:.5s;

}



/* ZUMIRANJE */

.photo:hover img{

    transform:scale(1.08);

}



/* TAMNI PRELAZ */

.photo::before{

    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(
        rgba(0,0,0,.1),
        rgba(0,0,0,.6)
    );

    z-index:1;

}



/* HOVER EFEKAT */

.photo:hover::before{

    background:linear-gradient(
        rgba(200,16,46,.15),
        rgba(0,0,0,.65)
    );

}



/* TELEFON */

@media(max-width:768px){


.galerija-sekcija{

    width:92%;
    padding:50px 0;

}


.galerija-sekcija h2{

    font-size:34px;

}


.gallery{

    grid-template-columns:1fr;

    gap:25px;

}


.photo{

    height:320px;

}

/* ===========================
   GALERIJA KAO POCETNA
=========================== */


.gallery{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(350px,1fr));

    gap:40px;

}



.photo{

    height:500px;

    position:relative;

    overflow:hidden;

    border-radius:25px;

    box-shadow:
    0 15px 35px rgba(0,0,0,.35);

}



.photo img{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:.5s;

}



.photo:hover img{

    transform:scale(1.08);

}



.photo::after{

    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(
        rgba(0,0,0,.05),
        rgba(0,0,0,.55)
    );

}



@media(max-width:768px){

.gallery{

    grid-template-columns:1fr;

    gap:25px;

}


.photo{

    height:320px;

}

}

